@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
   src: url('icons.woff2') format('woff2');
}

.icon {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-books:before {
    content: "\f101";
}
.icon-burger:before {
    content: "\f102";
}
.icon-close:before {
    content: "\f103";
}
.icon-learn:before {
    content: "\f104";
}
.icon-message:before {
    content: "\f105";
}
.icon-notebook:before {
    content: "\f106";
}
.icon-write:before {
    content: "\f107";
}
