.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // background-color: $cl-baltic-sea;
    z-index: 10;

    &__inner {
        @include container();
        padding-block: 16px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    @media (min-width: $tablet) {
        &__nav {
            gap: 16px;
        }
    }
}
