@use '@/assets/styles/variables' as *;
.icon {
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    transition: color $dur ease;
}
