// FONTS
$font: 'Manrope';

// DURATIONS
$dur: var(--dur, 300ms);
$double-dur: var(--dur, 600ms);
$long-dur: var(--dur, 1200ms);

// Resolution
$desktop-max: 3840px;
$desktop-fullhd: 2560px;
$desktop-big: 1920px;
$desktop: 1440px;
$laptop: 1280px;
$desktop-min: 1024px;
$tablet: 768px;
$mobile-big: 425px;
$mobile-medium: 375px;
$mobile: 320px;

// SCSS-переменные, использующие CSS-переменные
$cl-white: var(--cl-white);
$cl-black: var(--cl-black);
$cl-nero: var(--cl-nero);
$cl-solitude: var(--cl-solitude);
$cl-ceramic: var(--cl-ceramic);

$cl-txt-primary: var(--cl-azure);
$cl-txt-accent: var(--cl-summer-green);
$cl-link-primary: var(--cl-ceramic);
$cl-link-hover: var(--cl-light-drab);
$cl-baltic-sea: var(--cl-baltic-sea);
$cl-og-107: var(--cl-og-107);
$cl-pale-taupe: var(--cl-pale-taupe);
$cl-suva-gray: var(--cl-suva-gray);

// COLORS - CONTENT
$color-text: $cl-txt-primary;
$background: $cl-baltic-sea;
