// FONTS
$font: 'Ysa';
$font-dirtyline: 'Dirtyline';

// DURATIONS
$dur: var(--dur, 300ms);
$double-dur: var(--dur, 600ms);
$long-dur: var(--dur, 1200ms);

// Resolution
$desktop-max: 3840px;
$desktop-fullhd: 2560px;
$desktop-big: 1920px;
$desktop: 1440px;
$laptop: 1280px;
$desktop-min: 1024px;
$tablet: 768px;
$mobile-big: 425px;
$mobile-medium: 375px;
$mobile: 320px;

// SCSS-переменные, использующие CSS-переменные
$cl-white: var(--cl-white);
$cl-black: var(--cl-black);
$cl-nero: var(--cl-nero);
$cl-solitude: var(--cl-solitude);
$cl-ceramic: var(--cl-ceramic);

$cl-txt-primary: var(--cl-azure);
$cl-txt-accent: var(--cl-summer-green);

$cl-baltic-sea: var(--cl-baltic-sea);
$cl-og-107: var(--cl-og-107);
$cl-pale-taupe: var(--cl-pale-taupe);
$cl-suva-gray: var(--cl-suva-gray);
$cl-luxury-black: var(--cl-luxury-black);
$cl-text-primary: var(--cl-text-primary);
$cl-text-secondary: var(--cl-text-secondary);
$cl-accent-pink: var(--cl-accent-pink);
$cl-accent-green: var(--cl-accent-green);
$cl-accent-blue: var(--cl-accent-blue);

// COLORS - CONTENT
$color-text: $cl-text-primary;
$background: $cl-luxury-black;
